<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/styles/bootstrap.min.css">
    <script src="/resources/scripts/jquery-3.5.1.min.js"></script>
    <script src="/resources/scripts/bootstrap.min.js"></script>

    <script>
        let socket;
        let $proxy;
        let $list;

        let spinner$ = '<div class="spinner-border text-secondary spinner-border-sm"></div>';
        
        $(document).ready(function() {
            $list = $('#bench_list');
            $proxy = $('#bench_').detach().removeClass('d-none');
            socket = new WebSocket('ws://'+window.location.host+'/ws');
            socket.onopen = function(event) {
                socket.send(JSON.stringify({cmd: 'benchInit', value: ''}));
            }

            socket.onmessage = function(event) {
                let rsp = JSON.parse(event.data);
                switch(rsp.cmd) {
                case "badd":
                    let count = +$('#count').text();
                    count++;
                    $('#count').text(count);

                    let $clone = $proxy.clone();
                    
                    $list.append($clone);
                    $clone.attr('id', $clone.attr('id') + rsp.value.id);
                    $clone.attr('data-id', rsp.value.id);
                    $clone.find('.ID').text(count);
                    $clone.find('.Addr').text(rsp.value.addr);

                    $clone.find('.RequestCount').text(rsp.value.requestCount);
                    $clone.find('.Latency').text(rsp.value.latency);
                    $clone.find('.LastTime').text(rsp.value.lastTime);
                    $clone.find('.LastStatus').text(rsp.value.lastStatus);
                    break;

                case "bupdate":
                    let $tr = $list.find('#bench_' + rsp.value.id);
                    $tr.find('.RequestCount').text(rsp.value.requestCount);
                    $tr.find('.Latency').text(rsp.value.latency);
                    $tr.find('.LastTime').text(rsp.value.lastTime);
                    $tr.find('.LastStatus').text(rsp.value.lastStatus);
                    break;
                }
            };
        });

        $(document).on('click', '#bench_start', function() {
            let $this = $(this);
            let init = $this.attr('data-init');
            if (init === 'false') {
                $this.removeClass('btn-success').addClass('btn-danger').attr('data-init', 'true').text('Stop');
                socket.send(JSON.stringify({cmd: 'benchStart', value: ""}));
            } else {
                $this.removeClass('btn-danger').addClass('btn-success').attr('data-init', 'false').text('Start');
                socket.send(JSON.stringify({cmd: 'benchStop', value: ""}));
            }
        });

        $(document).on('click', '#bench_import', function() {
            $('#upload').click();
        });

        $(document).on('change', '#upload', function() {
            let formData = new FormData();
            $.each(this.files, function(k, v) {
                formData.append(k, v);
                console.log(k, v);
            });
            console.log(formData);
            $.ajax({
                url: '/bimport',
                type: 'POST',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function(rsp) {
                    console.log(rsp);
                }
            });
        });

        $(document).on('click', '#export_selected', function() {
            let $selected = selectedGet();
            let ids = selectedIds($selected);
            $('#export_list').val(ids.join(','));
            $('#export_selected_form').submit();
        });

        $(document).on('click', '#timeout_set', function() {
            settingsUpdate('bench_timeout');
        });

        $(document).on('click', '#interval_set', function() {
            settingsUpdate('bench_interval');
        });

        $(document).on('click', '#reset_set', function() {
            settingsUpdate('bench_reset');
        });

        function settingsUpdate(name) {
            let val = $('#'+name).val();
            $.post('/bsettings', {name: name, value: val}, function(rsp) {
                
            });
        }

        function selectedGet(remove) {
            let $selected = [];
            let $trs = $('#proxy_list').find('tr');
            $.each($trs, function(k, v) {
                let $tr = $(v);
                let $select = $tr.find('.Select');
                if($select.is(':checked')) {
                    $selected.push($tr);
                    if(remove) {
                        $tr.remove();
                    }
                }
            });
            return $selected;
        }

        function selectedIds(elms) {
            let ids = [];
            $.each(elms, function(k, v) {
                let $tr = $(v);
                let id = v.attr('data-id');
                ids.push(id);
            });
            return ids;
        }

        $(document).on('click', '#select_all', function() {
            let $trs = $('#proxy_list').find('tr');
            $.each($trs, function(k, v) {
                let $el = $(v);
                if(!$el.hasClass('d-none')) {
                    $el.find('.Select').prop('checked', true);
                }
            });

            $('.Selected').text($('.Total').text());
        });

        $(document).on('click', '#select_none', function() {
            let $selects = $('#proxy_list').find('.Select');
            $.each($selects, function(k, v) {
                let $el = $(v);
                if($el.is(':checked')) {
                    $el.prop('checked', false);
                }
            });

            $('.Selected').text('0');
        });

        $(document).on('click', '.Verify', function() {
            let $this = $(this);
            let $tr = $this.closest('tr');
            let $latency = $tr.find('.LastLatency');
            $latency.html(spinner$);
            let id = $tr.attr('data-id');
            $.post('/verify', {id: id}, function(rsp) {

            });
        });

        let $trs;
        let trsCount = 0;
        let currentCount = 0;

        $(document).on('click', '#verify_all', function() {
            if(trsCount > 0) {
                return;
            }
            $trs = $('#proxy_list').find('tr');
            let count = +$('#threads').val();
            trsCount = $trs.length;
            for(let i = 0; i < count && trsCount > i; i++) {
                trsCount--;
                ping($trs[currentCount]);
            }
        });

        function ping(tr) {
            currentCount++;
            let $tr = $(tr);
            let $latency = $tr.find('.LastLatency');
            $latency.html(spinner$);
            let id = $tr.attr('data-id');
            console.log('ping ' + id);
            $.post('/verify', {id: id}, function(rsp) {
                if(trsCount > 0) {
                    trsCount--;
                    ping($trs[currentCount]);
                    if(trsCount == 0) {
                        currentCount = 0;
                    }
                }
            });
        }

        let $trsSelected;
        let trsCountSelected = 0;
        let currentCountSelected = 0;

        $(document).on('click', '#verify_selected', function() {
            if(trsCountSelected > 0) {
                return;
            }
            $trsSelected = selectedGet();
            let count = +$('#threads').val();
            trsCountSelected = $trsSelected.length;
            for(let i = 0; i < count && trsCountSelected > i; i++) {
                trsCountSelected--;
                pingSelected($trsSelected[currentCountSelected]);
            }
        });

        function pingSelected(tr) {
            currentCountSelected++;
            let $tr = $(tr);
            let $latency = $tr.find('.LastLatency');
            $latency.html(spinner$);
            let id = $tr.attr('data-id');
            console.log('selected ' + id);
            $.post('/verify', {id: id}, function(rsp) {
                if(trsCountSelected > 0) {
                    trsCountSelected--;
                    pingSelected($trsSelected[currentCountSelected]);
                    if(trsCountSelected == 0) {
                        currentCountSelected = 0;
                    }
                }
            });
        }

        $(document).on('click', '#bench_reset_all', function() {
            let $this = $(this);
            $this.html(spinner$);
            let $bench = $('#bench_start');
            let init = $bench.attr('data-init');
            if (init !== 'false') {
                $bench.removeClass('btn-danger').addClass('btn-success').attr('data-init', 'false').text('Start');
                socket.send(JSON.stringify({cmd: 'benchStop', value: ""}));
            }
            $.post('/breset', {}, function(rsp) {
                $this.html("Reset All");
                $('#count').html('0');
                $('#bench_list').html('');
                socket.send(JSON.stringify({cmd: 'benchInit', value: ''}));
            });
        });

        $(document).on('click', '#bench_delete', function() {
            let $this = $(this);
            $this.html(spinner$);
            $.post('/bdelete', {}, function(rsp) {
                $('#count').html('0');
                $this.html("Delete All");
                $('#bench_list').html('');
            });
        });

        $(document).on('click', '.Change', function() {
            let $this = $(this);
            let $tr = $this.closest('tr');
            let id = $tr.attr('data-id');
            let active = $tr.next().find('td').length;
            if(active == 1) {
                $tr.next().remove();
                return;
            }
            $.post('/change', {id: id}, function(rsp) {
                $tr.after('<tr><td colspan="10"><div class="d-flex justify-content-center"><div class="input-group input-group-sm" style="width: 450px"><input type="text" class="form-control form-control-sm" value="'+rsp+'"><div class="input-group-append"><button class="btn btn-success btn-sm Update" data-id="'+id+'">Save</button></div></div></div></td></tr>');
            });
        });

        $(document).on('click', '.Update', function() {
            let $this = $(this);
            let id = $this.attr('data-id');
            let val = $this.parent().prev().val();
            $.post("/save", {id: id, value: val}, function(rsp) {
                $this.closest('tr').remove();
            });
        });

        $(document).on('change', '.Select', function() {
            let $this = $(this);
            let count = +$('.Selected').text();
            if($this.is(':checked')) {
                count++;
            } else {
                count--;
            }
            $('.Selected').text(count);
        });

        $(document).on('click', '#delete_selected', function() {
            let selected = selectedGet(true);
            let ids = selectedIds(selected);

            $.post('/delete_selected', {list: ids.join(',')}, function() {

            });
        });

        $(document).on('click', '#reset_failures', function() {
            let $trs = $('#proxy_list').find('tr');
            $.each($trs, function(k, v) {
                let $el = $(v);
                $el.find('.Failures').text('0');
            });
            $.post('/reset_failures', {}, function(rsp) {
                
            });
        });

        $(document).on('change', '#errors_only', function() {
            let $this = $(this);
            let $trs = $('#proxy_list').find('tr');
            $.each($trs, function(k, v) {
                let $el = $(v);
                if($this.is(':checked')) {
                    let status = $el.find('.LastStatus').text();
                    if(status == "Valid") {
                        $el.addClass('d-none');
                    }
                } else {
                    $el.removeClass('d-none');
                }
            });
        });

        $(document).on('click', '#filter_port', function() {
            let $trs = $('#proxy_list').find('tr');
            let port = $('#filter').val();
            let isErrorOnly = $('#errors_only').is(':checked');
            console.log(isErrorOnly);
            $.each($trs, function(k, v) {
                let $el = $(v);
                if(port === '') {
                    if(isErrorOnly) {
                        let status = $el.find('.LastStatus').text();
                        if(status === 'Error') {
                            $el.removeClass('d-none');
                        } else {
                            $el.addClass('d-none');
                        }
                    } else {
                        $el.removeClass('d-none');
                    }
                } else {
                    $el.removeClass('d-none');
                    let addr = $el.find('.Addr').text().split(':');
                    if(port !== addr[1]) {
                        $el.addClass('d-none');
                    }
                }
            });
        });

        $(document).on('click', '#filter_tag', function() {
            let $trs = $('#proxy_list').find('tr');
            let tag = $('#filter').val();
            let isErrorOnly = $('#errors_only').is(':checked');
            console.log(isErrorOnly);
            $.each($trs, function(k, v) {
                let $el = $(v);
                if(tag === '') {
                    if(isErrorOnly) {
                        let status = $el.find('.LastStatus').text();
                        if(status === 'Error') {
                            $el.removeClass('d-none');
                        } else {
                            $el.addClass('d-none');
                        }
                    } else {
                        $el.removeClass('d-none');
                    }
                } else {
                    $el.removeClass('d-none');
                    let t = $el.find('.Tag').text();
                    if(tag !== t) {
                        $el.addClass('d-none');
                    }
                }
            });
        });

        $(document).on('click', '#sort_id, #sort_latency, #sort_tag, #sort_failures', function() {
            let $this = $(this);
            let $trs = $('#proxy_list').find('tr');
            let sort = $this.attr('data-sort');
            let sortType = $this.attr('data-type');
            let sortColumn = $this.attr('data-column');
            let fn;

            if(sort === "asc") {
                $this.attr('data-sort', 'desc');
                if(sortType === 'number') {
                    fn = sortDesc;
                } else if(sortType === 'string') {
                    fn = sortStrDesc;
                }
            } else {
                $this.attr('data-sort', 'asc');
                if(sortType === 'number') {
                    fn = sortAsc;
                } else if(sortType === 'string') {
                    fn = sortStrAsc;
                }
            }

            $trs.sort(fn.bind(null, sortColumn));

            $('#proxy_list').append($trs);
        });

        function sortAsc(column, a, b) {
            let aN = $(a).find(column).text();
            let bN = $(b).find(column).text();
            return +aN - +bN;
        }

        function sortDesc(column, a, b) {
            let aN = $(a).find(column).text();
            let bN = $(b).find(column).text();
            return +bN - +aN;
        }

        function sortStrAsc(column, a, b) {
            let aN = $(a).find(column).text();
            let bN = $(b).find(column).text();
            return aN.localeCompare(bN);
        }

        function sortStrDesc(column, a, b) {
            let aN = $(a).find(column).text();
            let bN = $(b).find(column).text();
            return bN.localeCompare(aN);
        }
        
    </script>

    <style>
        .vam {
            vertical-align: middle;
        }
        .top {
            position: fixed;
            top: 0;
            left: 50%;
            margin-left: -570px;
            width: 1140px;
            padding: 5px;
            background-color: #fff;
            z-index: 100;
        }
        .content {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .bot {
            position: fixed;
            bottom: 0;
            left: 50%;
            margin-left: -570px;
            width: 1140px;
            padding: 5px;
            background-color: #fff;
            z-index: 100;
        }

        .sort:hover {
            background-color: #ccc;
            cursor: pointer;
        }

        .real div {
            position: relative;
            line-height: 0.9;
        }
        .real .RealCountry {
            font-size: 12px;
        }

        .btn_bench {
            position: absolute;
            top: 5px;
            left: -100px;
        }
    </style>
</head>
<body>
    <div class="top d-flex">
        <a id="bench" class="btn btn-danger btn-sm ml-1 btn_bench" href="/">Proxy</a>
        <button id="bench_import" class="btn btn-primary btn-sm ml-1">Import</button>
        <input type="file" id="upload" name="upload" class="d-none">
        <a id="bench_export" class="btn btn-primary btn-sm ml-1" href="/bexport" target="_blank">Export</a>
        <button id="bench_start" class="btn btn-{{if .status}}danger{{else}}success{{end}} btn-sm ml-3" data-init="{{if .status}}true{{else}}false{{end}}">{{if .status}}Stop{{else}}Start{{end}}</button>
        <button id="bench_reset_all" class="btn btn-warning btn-sm ml-3 mr-3">Reset All</button>
        <button id="bench_delete" class="btn btn-danger btn-sm mr-3">Delete All</button>
        <div class="input-group input-group-sm pl-1" style="width: 120px">
            <input id="bench_interval" type="text" class="form-control form-control-sm" value="{{.settings.Interval}}">
            <div class="input-group-append">
                <button id="interval_set" class="btn btn-secondary btn-sm">Interval</button>
            </div>
        </div>
        <div class="input-group input-group-sm pl-1" style="width: 120px">
            <input id="bench_timeout" type="text" class="form-control form-control-sm" value="{{.settings.Timeout}}">
            <div class="input-group-append">
                <button id="timeout_set" class="btn btn-secondary btn-sm">Timeout</button>
            </div>
        </div>
        <div class="input-group input-group-sm pl-1" style="width: 120px">
            <input id="bench_reset" type="text" class="form-control form-control-sm" value="{{.settings.Reset}}">
            <div class="input-group-append">
                <button id="reset_set" class="btn btn-secondary btn-sm">Reset</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 content">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th id="sort_id" class="sort" scope="col" data-sort="asc" data-type="number" data-column=".Id"># <span id="count">0</span></th>
                            <th scope="col">IP:port</th>
                            <th scope="col">Requests</th>
                            <th id="sort_latency" class="sort" scope="col" data-sort="desc" data-type="number" data-column=".LastLatency">Latency</th>
                            <th scope="col">Last time</th>
                            <th scope="col">Last status</th>
                        </tr>
                    </thead>
                    <tbody id="bench_list">
                        <tr id="bench_" class="Bench d-none">
                            <th class="ID"></th>
                            <td class="Addr"></td>
                            <td class="RequestCount"></td>
                            <td class="Latency"></td>
                            <td class="LastTime"></td>
                            <td class="LastStatus"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="bot d-flex">
        <div class="mr-2"><span class="Selected">0</span> / <span class="Total">0</span></div>
        <button id="select_all" class="btn btn-primary btn-sm ml-1">Select all</button>
        <button id="verify_all" class="btn btn-primary btn-sm ml-1">Verify all</button>
        <button id="verify_selected" class="btn btn-primary btn-sm ml-1">Verify selected</button>
        <button id="delete_selected" class="btn btn-primary btn-sm ml-1">Delete selected</button>
        <button id="select_none" class="btn btn-primary btn-sm ml-1">Select none</button>
        <button id="reset_failures" class="btn btn-primary btn-sm ml-1">Reset failures</button>
        <div class="form-check ml-2">
            <input id="errors_only" class="form-check-input mt-2" type="checkbox" value="">
            <label class="form-check-label vam" for="errors_only">
              Error only
            </label>
        </div>
        <div class="input-group input-group-sm pl-1 pr-0 col-3">
            <input id="filter" type="text" class="form-control form-control-sm" placeholder="Filter">
            <div class="input-group-append">
                <button id="filter_port" class="btn btn-success btn-sm">Port</button>
                <button id="filter_tag" class="btn btn-success btn-sm">Tag</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            
            </div>
        </div>
    </div> -->
</body>
</html>